<form class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">
      {{"newPassword.title" | translate}}
    </h2>
    <p class="text-sm text-muted-foreground">
      {{"newPassword.subtitle" | translate}} 
      <a class="text-primary" routerLink="/auth/sign-in">
        {{"newPassword.signIn" | translate}}
      </a>
    </p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input type="password" id="password" class="peer block" placeholder=" " />
      <label
        for="password"
        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
        {{"newPassword.passwordLabel" | translate}}
      </label>
      <span class="absolute top-2.5 right-5 cursor-pointer text-muted-foreground">
        <svg-icon src="assets/icons/heroicons/outline/eye-off.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
        <svg-icon src="assets/icons/heroicons/outline/eye.svg" [svgClass]="'h-5 w-5 hidden'"> </svg-icon>
      </span>
    </div>

    <!-- Password Meter -->
    <div class="grid grid-cols-4 gap-2">
      <div class="h-1 rounded-sm bg-muted"></div>
      <div class="h-1 rounded-sm bg-muted"></div>
      <div class="h-1 rounded-sm bg-muted"></div>
      <div class="h-1 rounded-sm bg-muted"></div>
    </div>

    <span class="text-xs text-muted-foreground">
      {{"newPassword.passwordHelper" | translate}}
    </span>

    <div class="relative">
      <input type="password" id="confirm-password" class="peer block" placeholder=" " />
      <label
        for="confirm-password"
        class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
        {{"newPassword.confirmPasswordLabel" | translate}}
      </label>
    </div>
  </div>

  <!-- Submit Button -->
  <div>
    <app-button routerLink="/dashboard" full impact="bold" tone="primary" shape="rounded" size="medium">
      {{"newPassword.submit" | translate}}
    </app-button>
  </div>
</form>
